<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS  for bootstrap-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" >
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="{{ url_for('static', filename='/img/logo-white.png')}}" height="100%"/>
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li 
              {% if nav_bar == "home" %}
                class="active"
              {% endif %}>
              <a href="/">Welcome</a></li>
            <li {% if nav_bar == "manual_mode" %}
                  class="active"
                {% endif %}>
             <a href="/manual_mode">Manual mode</a>
            </li>
            <li
                {% if nav_bar == "training_mode" %}
                  class="active"
                {% endif %}>
                <a href="/training_mode">Training Mode</a></li>
            <li
              {% if nav_bar == "auto_mode" %}
                  class="active"
                {% endif %}
            ><a href="/autonomous_mode">Autonomous Mode</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right m-5">
            <li>
              <span>Status</span>
              <button class="btn btn-danger navbar-btn m-3">
                Not Connected
              </button>
            </li>
          </ul>
        </div>
      </nav>
      {% block page_heading %} {% endblock %}
    </header>
    <main>{% block main %}{% endblock %}</main>
    <footer class="footer text-muted navbar-fixed-bottom">
      <div class="container">
        <span class="text-body-secondary">
          Contributions Provide github link.
        </span>
      </div>
    </footer>
  </body>
  <!-- Socketio library and establishing connection with python flask server -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> -->
  
  <script type="text/javascript" charset="utf-8">
    const socket = io.connect('http://127.0.0.1:5000'); // url of the python server
    
    socket.on('connect', function(){
      socket.emit('ack', {
        msg: 'CONN_ESTABLISHED'
      });
      console.log('Connected to server')
      
      // if(confirm("Start streaming?") == true)
      console.log('streaming begins...')
      socket.emit('stream', {msg: 'start streaming'})
    });

    socket.on('disconnect', function(){
      console.log("Disconnecting with the server")
      socket.send('Disconnecting');
    })

</script>
{% block socketio_connection %}
{% endblock %}

</html>
