{% extends 'base.html' %} 

{% block title %} Welcome - Self-driving car {%endblock %} 

{% block page_heading %}
<div class="jumbotron-text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Self-Driving car</h1>
    <p class="lead text-muted">An undergrad major project</p>
    <hr />
  </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
  <div class="run-modes">
    <span class="short-info">Please choose an option to run.</span>

    <ul class="list-unstyled">
      <li>
        <a href="/manual_mode" class="btn btn-primary" style="margin: 5px 0px">
          Manual Survelliance mode
        </a>
      </li>
      <li>
        <a href="/training_mode" class="btn btn-primary" style="margin: 5px 0px">
          Training Mode
        </a>
      </li>
      <li class="p-5 m-5">
        <a href="/autonomous_mode" class="btn btn-primary" style="margin: 5px 0px">
          Autonomous Mode
        </a>
      </li>
    </ul>
  </div>
  <img src="" id="cam_img"/>
</div>
{% endblock %}
{% block socketio_connection %}
<script type="text/javascript" charset="utf-8">
    // Connection is already setup with variable `socket` in `base.html`, which will be top of this in final rendering.
    // here just using setting up those events, which are specific to the page
    // FIXME: Currently this page doesn't need cam feed. Later move to that specific pages
    socket.on('img_data', function(data){
      console.log("Image received")
      var arrayBufferView = new Uint8Array(data['image']);
      var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );

      var img_url = URL.createObjectURL(blob);
      document.getElementById("cam_img").src = img_url;
      
      console.log("image data placed .. Sending ack")
      // send ack
      socket.emit('ack', 'IMG_YES')
    })

</script>
{% endblock %}
